.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.box {
  flex: 0 0 32%;
  border: 2px solid black;
  height: 150px;
  width: 150px;
  cursor: pointer;
  cursor: hand;
  color: yellow;
}

.top {
}

.bottom {
}

.category {
}
